body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282828;
}

#content-wrapper {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#error {
  color: #ff0000;
  font-size: 24px;
  height: max-content;
}

.nodoLink {
	margin-top: 1rem;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 16px;
	border: none;
	background-color: #4444FF;
    color: #fff;
	transition: all linear .3s;
}

.nodoLink:hover {
	background-color: #240090;
	color: white;
}

#title {
  color: #fff;
}
