.body {
	width: 100%;
	height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  align-items: center;
  grid-gap: 5px;
  background-color: antiquewhite;
  backdrop-filter: blur(10px);
  position: fixed;
  height: min-content;
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

#title {
  font-size: 24px;
}

#logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.node-content {
	display: grid;
	grid-auto-flow: column;
	width: max-content;
	justify-content: space-around;
	gap: 1rem;
	align-items: center;
}

#logout-btn:hover {
  background-color: #d32f2f;
  margin-right: 0;
}

#save-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  justify-self: auto;
}

#save-btn:hover {
  background-color: #45a049;
}

#error {
  color: red;
}

.selected {
	color: #f44336;
	pointer-events: none;
}

#update-form,
#copy-form {
  display: none;
}
/* CSS for the tree wrapper */

.nodoView {
  display: grid;
  width: max-content;
  grid-auto-flow: column;
  background-color: transparent;
  transition: all linear .6s;
}

.nodoLink {
	margin: 0;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 16px;
	border: none;
	background-color: antiquewhite;
	transition: all linear .3s;
}
.nodoLink:hover {
	background-color: rgba(0,0,0,0.7);
	color: white;
}

.root {
  color: red;
}

.root:hover {
  text-decoration: underline;
}

#tree-wrapper {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  top: 7vh;
  bottom: 8vh;
  left: 1vw;
  right: 1vw;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;;
}

.footer { 
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  display: grid;
  background-color: antiquewhite;
  justify-content: space-around;
  height: 7vh;
}

#insert-form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  grid-gap: 1rem;
}

#insert-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  justify-self: auto;
}

#insert-btn:hover {
  background-color: #45a049;
}

#error {
  color: #ff0000;
  background-color: burlywood;
  margin-top: 10px;
  height: max-content;
}

a {
  text-decoration: none;
}

